<html>
	<head>
		<meta charset="utf-8">
		<title>MagnetsDB (NodeJS port)</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="views/tabulator.css"/>
    </head>
    <body>
				<div id='help' class='alert alert-info'>
					<ul>
						<li>Use + to point neсessary elements which MUST be in responce.</li>
						<li>Use - to point unnecessary elements which MUST be excluded from responce.</li>
						<li>Use , to split elements in request</li>
					</ul>
				</div>
				<div id="pan_ctrls" class='row-fluid' >
							<label class='col-md-2' for='c'>Category/Категория</label>
							<input class='col-md-2' type='text' name='c' id='c' value='Action'>
							<label class='col-md-2' for='q'>Caption/Название</label>
							<input class='col-md-2' type='text' name='q' id='q' value=''>
							<label class='col-md-2' for='l'>Labels/Метки</label>
							<input class='col-md-2' type='text' name='l' id='l' value=''>							
        </div>
         <div id='controls' class='row-fluid'>
						<input class='col-md-4' type='button' id='reset' name='reset' value='Reset/Сброс'>					
						<input class='col-md-4' type="button" id="search" value="Search/Поиск">									
						<input class='col-md-4' type='button' id='loadmore' name='loadmore' value='Load more/Загрузить еще...'>
        </div>
        
        <div id='results'>														
        </div>
        
       
        
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>		     
    <script type="text/javascript">
						var p = 1;
						var items_in_view = "";
						var json_data = [];
						var merge_json = function(data)
						{
						  data.forEach(function(item, i, arr) {
									item.magnet_link = magnet_a(data);
									console.log(item.magnet_link);
						  });								
								json_data = json_data.concat(data);								
								json_data.forEach(function(item, i, arr) {									
									console.log(item.magnet_link);
						  });								
						};
						var append_items = function (i)
						{
							items_in_view = items_in_view + i;
						}
						var build_table = function()
						{
						return '<table class="table table-hover" id="rt">' + items_in_view +"</table>";
						}
						var magnet_a = function(item)
						{
						return '<a class="btn btn-sm btn-info" role="button" href=magnet:?xt=urn:btih:'+
																	item.hash+'>magnet</a>';
						}
						
						var tabulator_init = function()
						{
						//create Tabulator on DOM element with id "example-table"
						$("#results").tabulator({
								height:"960px", 
								fitColumns:true, 
									columns:[ //Define Table COlumns
											{title:"Category", field:"category", sorter:"string", width:150},
											{title:"Caption", field:"caption", sorter:"string",width:450},
											{title:"Labels", field:"labels", sorter:"string", sortable:true},
											{title:"Magnet", field:"magnet_link", sortable:false, align:"center"},
												],
    rowClick:function(e, id, data, row){ //trigger an alert message when the row is clicked
        //alert("Row " + id + " Clicked!!!!");
    },
});
						};
						
						var tabulator_update = function()
						{
								$("#results").tabulator("setData", json_data);
						}
						
            $(function(){	
            
								$('#loadmore').hide();
								
								var searcher = function(e){									
										var markup = "";
										var q;										
											var q, l, c;										
										q = document.getElementById('q').value;
										l = document.getElementById('l').value;	
									  c = document.getElementById('c').value;
									  console.log(q);
									  console.log(l);
									  console.log(c);
									  console.log(p);
										$.get(
												{													
													url: window.location.href+'ajax',
													data : { search : q, page : p , labels : l, category : c},
													fail: function( jqXHR, textStatus ) {
																		console.log( "Request failed: " + textStatus );
																		},
													
													success: function(data) {                            																
															 //console.log(data);
															 var results = JSON.parse(data);
															 //console.log(results);
															 var markup = "";
															 var el = "";
															 results.forEach(function(item, i, arr) {
																	console.log(item);
																	
																	el = "<td>"+item.category+'</td><td>'+item.caption+'</td><td> '+item.labels+ '</td><td><a class="btn btn-sm btn-info" role="button" href=magnet:?xt=urn:btih:'+
																	item.hash+'>magnet</a></td>';		
																	el = "<tr>"+el+"</tr>";
																	markup = markup + el;																																		
															});
															merge_json(results);
															console.log('content must be inserted');
															append_items(markup);
															//$('#results').html(build_table());																													
															//$('#rt').DataTable();
															console.log('button must visible');
															$('#loadmore').show();
															tabulator_init(); 
															tabulator_update();
													}
											});
								};
								
								$('#reset').click(function(e)
								{
										$('#rt').html("");
										items_in_view = "";
										p = 1;
										$('#loadmore').hide();
								});
								
                $('#search').click( function(e) { items_in_view = ""; $('#results').html(""); p = 1; searcher(e); } );
                
                $('#loadmore').click( function(e) {p = p + 1; searcher(e);} );				
                               
            });
        </script> 
			<!-- Latest compiled and minified JavaScript -->
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>        
			<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script> 
			<script type="text/javascript" src="views/tabulator.js"></script>
			
    </body>

    
</html>
