<html>
	<head>
		<meta charset="utf-8">
		<title>MagnetsDB (NodeJS port)</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="views/tabulator.css"/>
		<style>
		h1.apptitle {
    text-align: center;
    color: #4bc1dc;    
    font-size: 90px;
    }
    .typeahead, .tt-query, .tt-hint {
  background-color:#FFFFFF;  
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
.tt-selectable
{
	background-color:#FFFFFF;
	box-shadow:2px 2px 2px #000000;
	border:1px #cccccc;
}
		</style>
    </head>
    <body>    
    <div class="container">
				<h1 class='apptitle'>MagnetsDB</h1>
				<div id='help' class='alert alert-info'>
					<ul>
						<li>Use + to point neсessary elements which MUST be in responce.</li>
						<li>Use - to point unnecessary elements which MUST be excluded from responce.</li>
						<li>Use , to split elements in request</li>
					</ul>
				</div>
				<div id="pan_ctrls" >
				  <div class='row'>
							<label class='col-md-2' for='c'>Category</label>
							<input class="col-md-8 typeahead tt-query" autocomplete="off" spellcheck="false" type="text" name="c" id="c" value='Action'>
           </div>
           <div class='row'>
							<label class='col-md-2' for='q'>Caption</label>
							<input class="col-md-8 typeahead tt-query" autocomplete="off" spellcheck="false"  type='text' name='q' id='q' value=''>
						</div>
						<div class='row'>
							<label class='col-md-2  for='l'>Labels</label>
							<input class="col-md-8 typeahead tt-query" autocomplete="off" spellcheck="false" type='text' name='l' id='l' value=''>			
						</div>
        </div>
         <div id='controls'>
           <div class='row'>
						<input class='col-md-4' type='button' id='reset' name='reset' value='Reset/Сброс'>					
						<input class='col-md-4' type="button" id="search" value="Search/Поиск">									
						<input class='col-md-4' type='button' id='loadmore' name='loadmore' value='Load more/Загрузить еще...'>
					 </div>
        </div>
        <div id='status' class='row'></div>
        <div id='viewer' class='row'></div>
        <div id='results' class='row'></div>
        
       
     </div>   
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>		     
    <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script type="text/javascript">
    
						var p = 1;
						var items_in_view = "";
						var json_data = [];
						var cl;
						
						var cache = {};
						

						
						if (localStorage.getItem('myCache') === null)
						{
							console.log('Client cache not found');
						}
						else
						{						
						cache = JSON.parse(localStorage.getItem('myCache'));
						};
						
						function copyToClipboard(text) {
							var $temp = $("<input>");
							$("body").append($temp);
							$temp.val(text).select();
							document.execCommand("copy");
							$temp.remove();
						};
						
						var merge_json = function(data)
						{
						  data.forEach(function(item, i, arr) {
									item.magnet_link = magnet_a(item);									
						  });								
								json_data = json_data.concat(data);								
								json_data.forEach(function(item, i, arr) {									
									//console.log(item.magnet_link);
						  });								
						};
						var append_items = function (i)
						{
							items_in_view = items_in_view + i;
						}
						var build_table = function()
						{
						return '<table class="table table-hover" id="rt">' + items_in_view +"</table>";
						}
						var magnet_a = function(item)
						{
						var lcl = {};
						lcl.btn = '<a class="btn btn-sm btn-info" role="button" href=magnet:?xt=urn:btih:'+
																	item.hash+'>magnet</a>';
						lcl.player = '<span class="playbtn btn-sm btn-success" data-magnet="magnet:?xt=urn:btih:'+item.hash+'" >play</span>';
						var result = lcl.btn;
						var player_enable = true;
						if (player_enable) {result = result +"&nbsp;"+ lcl.player;};
						return result;
						}
						
						
						
						var tabulator_init = function()
						{
						//create Tabulator on DOM element with id "example-table"
						$("#results").tabulator({
								height:"960px", 
								pagination:true,
								fitColumns:true, 
									columns:[ //Define Table COlumns
											{title:"Category", field:"category", sorter:"string", width:150},
											{title:"Caption", field:"caption", sorter:"string",width:450},
											{title:"Labels", field:"labels", sorter:"string", sortable:true},
											{title:"Magnet", field:"magnet_link", sortable:false, align:"center"},
												],
    rowClick:function(e, id, data, row){ //trigger an alert message when the row is clicked
				console.log('row clicked');
        var jQueryObject = $($.parseHTML(data.magnet_link));
        var lMg = jQueryObject.last().data('magnet');							
        $('#status').html(lMg);
        copyToClipboard(lMg);
    },
});

				
						};
						
						var cache_key = function(q, l, c, p)
						{
						var result = 'key_'+window.MD5('q'+q.trim()+'l'+l.trim()+'c'+c.trim()+'p'+String(p).trim());
						console.log('cache key = ' + result);
						return result;
						}
						
						
						var real_request = function(q, l, c, p)
						{
						  
							$.get(
												{													
													url: window.location.href+'ajax',
													data : { search : q, page : p , labels : l, category : c},
													fail: function( jqXHR, textStatus ) {
																		console.log( "Request failed: " + textStatus );
																		},
													
													success: function(data) {                            																
															 //console.log(data);
															 var results = JSON.parse(data);
															 cache[cache_key(q, l, c, p)] = results;																 															
															 var cacheSizeMax = 8;
															 var cacheSizeReal = 0;
															 for (item in localStorage)
															 {
																cacheSizeReal += localStorage[item].length;
															 };
															 cacheSizeReal = ((cacheSizeReal * 2)/1024/1024).toFixed(2);
															 console.log('cache size:'	+String(cacheSizeReal));
															 if (cacheSizeReal >= cacheSizeMax)
															 {
																	// flush cache
																	console.log('cache was removed');
																	localStorage.removeItem('myCache');
															 }
															 else
															 {															 
															 localStorage.setItem('myCache', JSON.stringify(cache));
															 process_results(results);
															 };
											}
						});
						};
						
						var process_results = function(results)
						{
						//console.log(results);
															 var markup = "";
															 var el = "";
															 var counter = 0;
															 results.forEach(function(item, i, arr) {
																	//console.log(item);
																	counter++;
																	$('#status').html('Found items:'+String(counter));
																	el = "<td>"+item.category+'</td><td>'+item.caption+'</td><td> '+item.labels+ '</td><td><a class="btn btn-sm btn-info" role="button" href=magnet:?xt=urn:btih:'+
																	item.hash+'>magnet</a></td>';		
																	el = "<tr>"+el+"</tr>";
																	markup = markup + el;																																		
															});															
															merge_json(results);
															
															//console.log('content must be inserted');
															append_items(markup);
															//$('#results').html(build_table());																													
															//$('#rt').DataTable();
															//console.log('button must visible');
															$('#loadmore').show();
															
																													
															tabulator_update();
															
															var webt = window.WT;
															
														$('.playbtn').on('click', function(e)
																		{
																		//console.log($(this).data('magnet'));
																		webt($(this).data('magnet'));
															
											}); // end on
											$('#status').html('Request done '+String(json_data.length));
											$("body").css("cursor", "default");
						};
						
						var tabulator_update = function()
						{
								$("#results").tabulator("setData", json_data);
						}
						
            $(function(){	
            
            
							
            
								$('#loadmore').hide();
								
								var searcher = function(e){									
										var markup = "";
										var q;										
										var q, l, c;										
										q = document.getElementById('q').value;
										l = document.getElementById('l').value;	
									  c = document.getElementById('c').value;
									  
									  //console.log(q);
									  //console.log(l);
									  //console.log(c);
									  //console.log(p);
									  
									  $('#status').html('wait while request processed...');
										$("body").css("cursor", "progress");
									  
									  var ckey = cache_key(q, l, c, p);
									  var results = [];

									  if (cache.hasOwnProperty(ckey))
									  {
											 console.log('Fetch from client cache');
											 process_results(cache[ckey]);
									  }
									  else 
									  { // real request
									    //console.log('Exec ajax request started');
											real_request(q, l, c, p); // call process_results internally
											//console.log('Exec ajax request ended');
									  };
									  
																				
									
								};
								
								
								
								$('#reset').click(function(e)
								{
										json_data = [];
										items_in_view = "";
										p = 1;
										$('#loadmore').hide();
										tabulator_update();
								});
								
                $('#search').click( function(e) { items_in_view = ""; json_data = []; 
                p = 1; searcher(e); } );
                
                $('#loadmore').click( function(e) {p = p + 1; searcher(e);} );				
								tabulator_init(); 	
								
								
								// ********************** autocompletion
								
								var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};
								
								// load items for autocompletion
								
								var loadAc_Categories = function()
								{
								return ['Action'];
								};
								
								var loadAc_Labels = function()
								{
								return ['RUS'];
								};
								
								var loadAc_Requests = function()
								{
								return ['Delta'];
								}
								
								var autocompleteUI = function()
								{
								
								
							var ac_categories = loadAc_Categories();
							var ac_labels = loadAc_Labels();
							var ac_requests = loadAc_Requests();


							$('input[name=c]').typeahead({
									hint: true,
									highlight: true,
									minLength: 1
							},
								{
									name: 'ac_categories',
									source: substringMatcher(ac_categories)
								});
								
								
								
								$('input[name=l]').typeahead({
									hint: true,
									highlight: true,
									minLength: 1
							},
								{
									name: 'ac_labels',
									source: substringMatcher(ac_labels)
								});
								
								
								$('input[name=q]').typeahead({
									hint: true,
									highlight: true,
									minLength: 1
							},
								{
									name: 'ac_requests',
									source: substringMatcher(ac_requests)
								});
								
								};
								
								autocompleteUI();
								
            });
        </script> 
			<!-- Latest compiled and minified JavaScript -->
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>        
			<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script> 
			<script type="text/javascript" src="views/packed.js"></script>			
    </body>

    
</html>
