<html>
	<head>
		<meta charset="utf-8">
		<title>MagnetsDB - NodeJS port</title>
    </head>
    <body>
				<div id="search">
							<label for='c'>Category</label>
							<input type='text' name='c' id='c' value='Action'>
							<label for='q'>Caption</label>
							<input type='text' name='q' id='q' value=''>
							<label for='l'>Label</label>
							<input type='text' name='l' id='l' value=''>
							<input type="button" id="search" value="Search/Поиск">
        </div>
        <div id='results'>				
        </div>
        <div id='controls'>
						<input type='button' id='reset' name='reset' value='Reset/Сброс'>
						<input type='button' id='loadmore' name='loadmore' value='Load more/Загрузить еще...'>
        </div>
        <div id='help'>
				To search by misc categories, labels and captions use comma delimiter.
				For example "mp3,-jazz"
        </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>		 
    <script type="text/javascript">
						var p = 1;
            $(function(){	
            
								$('#loadmore').hide();
								
								var searcher = function(e){									
										var markup = "search starting...";
										var q, l;										
										q = document.getElementById('q').value;
										l = document.getElementById('l').value;	
									  c = document.getElementById('c').value;	
										$.get(
												{													
													url: window.location.href+'ajax',
													data : { search : q, page : p, labels : l, category : c },
													fail: function( jqXHR, textStatus ) {
																		console.log( "Request failed: " + textStatus );
																		},
													
													success: function(data) {                            																
															 //console.log(data);
															 var results = JSON.parse(data);
															 //console.log(results);
															 var markup = "";
															 results.forEach(function(item, i, arr) {
																	console.log(item);
																	
																	markup = markup + item.category+' / '+item.caption+' / '+item.labels+ ' <a href=magnet:?xt=urn:btih:'+
																	item.hash+'>magnet</a><br>';		
																	
																	
															});
															
															$('#results').html(markup+$('#results').html());
															$('#loadmore').show();
													}
											});
								};
								
								$('#reset').click(function(e)
								{
										$('#results').html("");
										p = 1;
										$('#loadmore').hide();
								});
								
                $('#search').click( function(e) { $('#results').html(""); p = 1; searcher(e); } );
                
                $('#loadmore').click( function(e) {p = p + 1; searcher(e);} );				
            });
        </script> 
        
    </body>
    
</html>
